@model MVCTicari.Models.Fatura
@{
    ViewBag.Title = "YeniFatura";
    Layout = "~/Views/Shared/AnaSayfa.cshtml";
}

<br />
<h2 style="margin-left:30px">YENİ FATURA</h2>
<br />

<form style="margin-left:30px" method="post">
    <br />
    @Html.LabelFor(c => c.FaturaSeriNo)
    <br />
    @Html.TextBoxFor(c => c.FaturaSeriNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.FaturaSiraNo)
    <br />
    @Html.TextBoxFor(c => c.FaturaSiraNo, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.FaturaTarih)
    <br />
    @Html.TextBoxFor(c => c.FaturaTarih, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.VergiDairesi)
    <br />
    @Html.TextBoxFor(c => c.VergiDairesi, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.Saat)
    <br />
    @Html.TextBoxFor(c => c.Saat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.TeslimEden)
    <br />
    @Html.TextBoxFor(c => c.TeslimEden, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.TeslimAlan)
    <br />
    @Html.TextBoxFor(c => c.TeslimAlan, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.Toplam)
    <br />
    @Html.TextBoxFor(c => c.Toplam, new { @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-info">Yeni Fatura Ekle</button>
</form>

