@model MVCTicari.Models.Urun
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/AnaSayfa.cshtml";
}

<br />
<h2 style="margin-left:30px">YENİ ÜRÜN</h2>
<br />

<form style="margin-left:30px" method="post">
    <br />
    @Html.LabelFor(c => c.UrunAd)
    <br />
    @Html.TextBoxFor(c => c.UrunAd, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.Marka)
    <br />
    @Html.TextBoxFor(c => c.Marka, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.Stok)
    <br />
    @Html.TextBoxFor(c => c.Stok, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.AlisFiyat)
    <br />
    @Html.TextBoxFor(c => c.AlisFiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.SatisFiyat)
    <br />
    @Html.TextBoxFor(c => c.SatisFiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.Kategori)
    <br />
    @Html.DropDownListFor(c => c.Kategori, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-info">Yeni Ürün Ekle</button>
</form>

