@model MVCTicari.Models.SatisHareket
@{
    ViewBag.Title = "YeniSatis";
    Layout = "~/Views/Shared/AnaSayfa.cshtml";
}

<br />
<h2 style="margin-left:30px">YENİ SATIŞ</h2>
<br />

<form style="margin-left:30px" method="post">
    <br />
    @Html.LabelFor(c => c.Cari)
    <br />
    @Html.DropDownListFor(c => c.Cari, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.Personel)
    <br />
    @Html.DropDownListFor(c => c.Personel, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.Urun)
    <br />
    @Html.DropDownListFor(c => c.Urun, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.Adet)
    <br />
    @Html.TextBoxFor(c => c.Adet, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.Fiyat)
    <br />
    @Html.TextBoxFor(c => c.Fiyat, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.ToplamTutar)
    <br />
    @Html.TextBoxFor(c => c.ToplamTutar, new { @class = "form-control" })
    <br />
    @Html.LabelFor(c => c.Tarih)
    <br />
    @Html.TextBoxFor(c => c.Tarih, new { @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-info">Yeni Satış Ekle</button>
</form>

